################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/.vs/ProjectEvaluation
/build/.vs/PureCloudPlatform.Client.V2/CopilotIndices/
/build/.vs/PureCloudPlatform.Client.V2/FileContentIndex
/build/.vs/PureCloudPlatform.Client.V2/v17
